name: Build and Test
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java-version: [ 24, 25-ea ]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: temurin
      - name: Cache Maven artifacts
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Cache node
        uses: actions/cache@v4
        with:
          path: web-bundle/node
          key: ${{ runner.os }}-node-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os}}-node-
      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: web-bundle/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/pom.xml', '**/package.json') }}
          restore-keys: |
            ${{ runner.os}}-node_modules-
      - name: Build ${{ matrix.java-version }}
        run: mvn -B clean test

      - name: Verify current mutation score
        run: |
          mvn -B org.pitest:pitest-maven:mutationCoverage
      - name: Save report Pitest
        run: |
          mkdir -p $GITHUB_WORKSPACE/pitest-reports
          cp -r target/pit-reports/* $GITHUB_WORKSPACE/pitest-reports/
      - name: Verify last commmit mutation score
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.before }}
          path: prev
          fetch-depth: 0
      - name: Run Pitest on previous commit
        run: |
          cd prev
          mvn -B org.pitest:pitest-maven:mutationCoverage
      - name: Compare mutation scores
        run: |
          PREV_SCORE=$(grep 'Mutation Score:' prev/target/pit-reports/index.html | sed -E 's/.*Mutation Score:\s*([0-9]+).*/\1/')
          CURR_SCORE=$(grep 'Mutation Score:' pitest-reports/index.html | sed -E 's/.*Mutation Score:\s*([0-9]+).*/\1/')
          echo "Previous Mutation Score: $PREV_SCORE"
          echo "Current Mutation Score: $CURR_SCORE"
          if [ "$CURR_SCORE" -lt "$PREV_SCORE" ]; then
            echo "Mutation score decreased from $PREV_SCORE to $CURR_SCORE"
            exit 1
          else
            echo "Mutation score did not decrease."
          fi
          